h1 {
  text-shadow: 2px 2px 5px blue,
    -2px 2px 5px red;
  border: 3px solid red;
  border-radius: 20px;
  /* border-radius: 30px; */
}

#box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  box-shadow: 3px 5px 5px blue;

}
