body {
  background-color: black;
}

h1 {
  color: white;
}

p {
  color: yellow;
}

#p1 {
  color: red
}

#p2 {
  color: orange
}

#p3 {
  color: lightgreen
}

.odd {
  color: red;
}

.even {
  color: blue
}
